
.tag-input-ctn {
    border: 1px solid #aaa;
    padding: 2px 3px;
    display: inline-block;
    width: 200px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    max-height: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #FFF;
    margin-top: 2px;
}

    .tag-input-ctn input {
        height: 18px;
        padding: 0px;
        line-height: 18px;
        border: 0px;
        margin: 3px;
        height: auto;
    }

        .tag-input-ctn input:focus, .tag-input-ctn input:hover {
            outline: 0;
            box-shadow: 0px;
            background: #fff !important;
        }

    .tag-input-ctn .input-tag {
        padding: 2px 4px;
        line-height: 12px;
        font-size: 11px;
        background-color: #e3eaf6;
        display: inline-block;
        float: left;
        border-radius: 2px;
        margin: 2px 3px 2px 0px;
        border: 1px solid #a9b6d2;
    }

        .tag-input-ctn .input-tag .delete-tag {
            display: inline-block;
            font-size: 12px;
            cursor: pointer;
            padding: 0px 2px;
        }

            .tag-input-ctn .input-tag .delete-tag:hover {
                background-color: #96b4d2;
            }
